<a
  *ngIf="profile.type == 'super' || profile.type == 'group'"
  href="/groups/create"
>
  Create Group</a
>
<ul *ngFor="let group of groups">
  <div
    *ngIf="
      group.members.indexOf(profile.username) >= 0 || profile.type == 'super'
    "
  >
    <h3>{{ group.group }}</h3>
    <li *ngFor="let member of toArray(group.members)">
      users: {{ member }}
      <button
        *ngIf="profile.type == 'super' || profile.type == 'group'"
        type="submit"
        (click)="deleteMember(member, group.group)"
      >
        Delete
      </button>
    </li>

    <select name="inviteMember" [(ngModel)]="inviteMember">
      <option *ngFor="let user of users" value="{{ user.username }}">{{
        user.username
      }}</option>
    </select>
    <button
      *ngIf="profile.type == 'super' || profile.type == 'group'"
      type="button"
      (click)="invite(group.group, inviteMember)"
    >
      invite
    </button>
    <button type="button" (click)="viewChannel(group.group)">
      View Channel
    </button>
    <button
      *ngIf="profile.type == 'super' || profile.type == 'group'"
      type="submit"
      (click)="deleteGroup(group.group)"
    >
      Delete
    </button>
  </div>
</ul>
