#component {
  width: 400px;
  border: 1px black solid;
  margin: 2rem auto;
  padding: 1rem;
}
#grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}
#info {
  text-align: center;
}
li {
  list-style: none;
}
#info * {
  margin: 0.5rem;
}
a {
  margin: 2rem;
  display: block;
  text-align: right;
  position: sticky;
  top: 2rem;
}
