<div id="component">
  <div id="flex">
    <img src="assets/profile.jpg" alt="profile" />
    <div id="name">
      <h2>{{ data.username }}</h2>
    </div>
  </div>
  <div id="info">
    <div>
      <p><strong>email:</strong></p>
      <p>{{ data.email }}</p>
    </div>
    <div>
      <p><strong>Birthday:</strong></p>
      <p>{{ data.birthday }}</p>
    </div>
    <div>
      <p><strong> Something:</strong></p>
      <p>Something ....</p>
    </div>
    <div>
      <p><strong>Something:</strong></p>
      <p>Something ....</p>
    </div>
    <div>
      <p><strong>Something:</strong></p>
      <p>Something ....</p>
    </div>
  </div>
</div>
